# Composer ignores
/vendor

# Framework ignores
.env
/bootstrap/compiled.php

# Editor ignores
.idea
_ide_helper.php
_ide_helper_models.php

# WinterCMS
/modules

# Plugins
/plugins/flynsarmy
/plugins/winter
/plugins/jacob

# iseed ignore
/database/seeders
