# Composer ignores
/vendor

# Framework ignores
.env
/bootstrap/compiled.php

# Editor ignores
.idea
_ide_helper.php

# WinterCMS
/modules

# Plugins
/plugins/flynsarmy
/plugins/winter

# iseed ignore
/database/seeders
