#!/bin/bash
SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

. $SCRIPT_DIR/settings.sh || {
  echo "no settings" && exit 1
}

export WEB_GID=33

perms() {
  sudo chown -R $UID:$WEB_GID "$1"

  sudo chmod -R g+rwx "$1"
}

perms "$SCRIPT_DIR/../storage"
perms "$SCRIPT_DIR/../themes"
perms "$SCRIPT_DIR/../plugins"
